<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"></th:block>

  <main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4>ToDo</h4>
      <div>
        <a th:href="@{/todo/create}" class="btn btn-success">Todo 추가</a>
        <a th:href="@{done}" class="btn btn-primary">완료 목록</a>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Today ToDo
          <div class="small text-danger">미루지 말고 지킵시다!!</div>
        </div>
        <!-- 데이터 잘 담김 -->
        <!-- <div th:text="${list}"></div> -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex align-items-center" th:each="dto : ${list}">
            <div class="flex-grow-1 p-1">
              <input class="form-check-input me-1" type="checkbox" name="completed" th:value="${dto.id}" />
              <label class="form-check-label">
                <a th:href="@{read(id=${dto.id})}" th:text="${dto.title}" class="text-decoration-none"></a>
              </label>
              <!-- 중요 의미 : google icon + bootstrap -->
              <span class="badge rounded-pill text-bg-danger" th:if="${dto.important}">important</span>
            </div>
            <div>
              <!-- 작성날짜 -->
              <small th:text="${#temporals.format(dto.createdeDate, 'yyyy-MM-dd')}"></small>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- id 값을 보낼 폼 -->
    <form method="post" id="completedForm">
      <input type="hidden" name="id" value="" />
    </form>
  </main>

  <th:block layout:fragment="script">
    <script>
      const msg = "[[${msg}]]"; //
      if (msg) {
        alert(msg + " 가 입력 되었습니다");
      }
    </script>
    <script th:src="@{/js/list.js}"></script>
  </th:block>
</html>
