<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"> </th:block>

  <main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4>ToDo</h4>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h5>ToDo 추가</h5>
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group mb-2">
              <label for="title">할 일</label>
              <input type="text" name="title" id="title" class="form-control" th:value="${todo.title}" readonly />
            </div>
            <div class="form-group mb-2">
              <label for="completed" class="form-check-label">완료</label>
              <input type="checkbox" name="completed" id="completed" class="form-check-input" th:checked="${todo.completed}" />
            </div>
            <div class="form-group mb-2">
              <label for="important" class="form-check-label">중요</label>
              <input type="checkbox" name="important" id="important" class="form-check-input" th:checked="${todo.important}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</html>
